@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url(./style/mobile.css);
@import url(/style/desktop.css);

:root{
    --main-color: #ff7979;
    --green: #38cc8b;
    --accent: #5e54a4;
    --neutral: #3d3b48;
    --white: #fff;
    --input-border: #dedede;
    --terms-color: #bab7d4;

    --font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    background-image: url(./images/bg-intro-mobile.png);
    background-repeat: no-repeat;
}

main {
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    font-size: 1rem;
    gap: 2.5rem;
}

@media screen and (min-width: 1280px) {
    body {
        padding: 3rem;
        flex-direction: row;
        background-image: url(/images/bg-intro-desktop.png);
    }
}