@media screen and (min-width: 1280px) {
    .information__container {
        width: 50%;
        padding: 5rem;
    }

    .information__head {
        font-size: 3.125rem;
        letter-spacing: -0.033;
        line-height: 3.438rem;
        text-shadow: none;
    }

    .information__content {
        width: 32.812rem;
        font-size: 1rem;
        line-height: 1.625rem;
    }
}